body {
    background: white;
}

.content {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.content div {
    width: 33.33%;
    padding-bottom: 75px;
    padding-top: 75px;

    text-align: center;
}

header {
    margin-left: 45%;
    margin-right: 42%;

}