<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Список задач</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>

<!-- Шапка-->
<header>
</header>

<!--Контент страницы -->
<body>
<div>
    <section>
            <ul>
            {% if username %}
                <li><a href="/auth/logout">Выйти({{username}})</a></li>
            {% else %}
                <li><a href="/auth/login">Войти</a></li>
            {% endif %}
            </ul>
    </section>
</div>
    <h1>Список задач</h1>
<div class="content">
    {% for date, task in tasks.items %}
    <div>
        <h3>{{ date }}</h3>
        {% for value in task %}
        <li><a href="{{value.id}}">{{ value.time }} : {{value.title}}</a></li>
        {% endfor %}
    </div>
    {% endfor %}
</div>

</body>
<a href="/add">Добавить</a>
<!-- Подвал-->
<footer>Здесь могла бы быть ваша реклама</footer>
</html>